<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-FabianMunozAguirre/blob/main/Python_for_Data_Science_Labs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Archivo de trabajo de Fabian Munoz (A00354910)**

In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')

assignment01 for GitJobish03 and edited in git, and 18

In [ ]:
# Try your first Python output

print('Hello, Python!')

Hello, Python!

In [ ]:
# Check the Python Version

import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [ ]:
# Print string as error message

frint("Hello, Python!")

NameError: ignored

In [ ]:
# Try to see built-in error message

print("Hello, Python!)

# missing a "

In [ ]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print("Hello, world!")

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
#Print the traditional hello world
print("Hello, world!")

Hello, world!

In [ ]:
# Integer

11

11

In [ ]:
# Float

2.14

2.14

In [ ]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

In [ ]:
# Type of 12

type(12)

int

In [ ]:
# Type of 2.14

type(2.14)

float

In [ ]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

In [ ]:
# Print the type of -1

type(-1)

int

In [ ]:
# Print the type of 4

type(4)

int

In [ ]:
# Print the type of 0

type(0)

int

In [ ]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [ ]:
# Print the type of 0.5

type(0.5)

float

In [ ]:
# Print the type of 0.56

type(0.56)

float

In [ ]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
# Verify that this is an integer

type(2)

int

In [ ]:
# Convert 2 to a float

float(2)

2.0

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [ ]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [ ]:
# Convert a string into an integer

int('1')

1

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: ignored

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [ ]:
# Convert an integer to a string

str(1)

'1'

In [ ]:
# Convert a float to a string

str(1.2)

'1.2'

In [ ]:
# Value true

True

True

In [ ]:
# Value false

False

False

In [ ]:
# Type of True

type(True)

bool

In [ ]:
# Type of False

type(False)

bool

In [ ]:
# Convert True to int

int(True)

1

In [ ]:
# Convert 1 to boolean

bool(1)

True

In [ ]:
# Convert 0 to boolean

bool(0)

False

In [ ]:
# Convert True to float

float(True)

1.0

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(float(6/2))

float

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(float(6//2))

float

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [ ]:
# Subtraction operation expression

50 - 60

-10

In [ ]:
# Multiplication operation expression

5 * 5

25

In [ ]:
# Division operation expression

25 / 5

5.0

In [ ]:
# Division operation expression

25 / 6

4.166666666666667

In [ ]:
# Integer division operation expression

25 // 5

5

In [ ]:
# Integer division operation expression

25 // 6

4

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
hours_in_minutes = 160 / 60
print(hours_in_minutes)

2.6666666666666665

In [ ]:
# Mathematical expression

30 + 2 * 60

150

In [ ]:
# Mathematical expression

(30 + 2) * 60

1920

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [ ]:
# Print out the value in variable

x

160

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [ ]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x = 3 + 2 * 2
x

7

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3 + 2) * 2
y

10

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x + y
z

17

## **Lab 2: Strings**

In [62]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [63]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [65]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [64]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [66]:
# Print the string

print("hello!")

hello!

In [67]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [68]:
# Print the first element in the string

print(name[0])

M

In [70]:
 # Print the element on index 6 in the string

print(name[6])

l

In [71]:
# Print the element on the 13th index in the string

print(name[13])

o

In [72]:
# Print the last element in the string

print(name[-1])

n

In [74]:
# Print the first element in the string

print(name[-15])

M

In [73]:
# Find the length of string

len("Michael Jackson")

15

In [76]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [75]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

In [77]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'McalJcsn'

In [78]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

In [79]:
# Concatenate two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [80]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [81]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [82]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [85]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [84]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [83]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [86]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [87]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [90]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [89]:
# Find the substring in the string.

name.find('Jack')

8

In [88]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

In [91]:
# Write your code below and press Shift+Enter to execute 

a = "1"
print(a)

1

In [92]:
# Write your code below and press Shift+Enter to execute

b = "2"
print(b)

2

In [93]:
# Write your code below and press Shift+Enter to execute 

c = a + b
print(c)

12

In [94]:
d = "ABCDEFG"
d[:3]

'ABC'

In [95]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
e[::2]

'correct'

In [96]:
# Write your code below and press Shift+Enter to execute
print("\\")
print("\\\\\\")

\
\\\

In [97]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"
f.upper()

'YOU ARE WRONG'

In [98]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

In [99]:
# Write your code below and press Shift+Enter to execute
g=g.replace('Mary','Bob')
g

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

# **Lab 3: Tuples and Lists**

In [100]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [101]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [102]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [103]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [104]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [ ]:
# Use negative index to get the value of the second last element

tuple1[-2]

In [105]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

In [106]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [107]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [110]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [111]:
# Get the length of tuple

len(tuple2)

5

In [112]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [113]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [114]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [115]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [116]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [117]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [118]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [119]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [120]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

In [121]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco")
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [122]:
# Write your code below and press Shift+Enter to execute
len(genres_tuple)

8

In [123]:
#Access the element, with respect to index 3:
genres_tuple[3]

'hard rock'

In [124]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [125]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [126]:
# Write your code below and press Shift+Enter to execute
genres_tuple.index("disco")

7

In [127]:
# Write your code below and press Shift+Enter to execute
C_tuple=(-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

In [130]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [131]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [128]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [132]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [133]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [134]:
# List slicing

L[3:5]

['MJ', 1]

In [135]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [136]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [139]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [138]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, ['pop', 10], ['a', 'b']]

In [137]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [140]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [142]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [141]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [143]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [145]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: hard rock

In [144]:
# Clone (clone by value) the list A

B = A[:]
B

['hard rock', 10, 1.2]

In [146]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: hard rock

In [147]:
# Write your code below and press Shift+Enter to execute
a_list = [1, 'hello', [1,1,2], True]
a_list

[1, 'hello', [1, 1, 2], True]

In [148]:
# Write your code below and press Shift+Enter to execute
a_list[1]

'hello'

In [149]:
# Write your code below and press Shift+Enter to execute
a_list[1:4]

['hello', [1, 1, 2], True]

In [150]:
# Write your code below and press Shift+Enter to execute
A = [1, 'a']
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']